.datepicker .table-condensed > tbody > tr > td,
.datepicker .table-condensed > tbody > tr > th,
.datepicker .table-condensed > tfoot > tr > td,
.datepicker .table-condensed > tfoot > tr > th,
.datepicker .table-condensed > thead > tr > td,
.datepicker .table-condensed > thead > tr > th {
  padding: 5px;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  max-width: 100%;
  color: #fff;
  background: #141414;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu::after {
  opacity: 0;
}

.bootstrap-datetimepicker-widget.dropdown-menu .btn-primary {
  color: #0f0f0f;
  background-color: #04d1c5;
  border-color: #04d1c5;
}

.bootstrap-datetimepicker-widget.dropdown-menu .btn-primary:not(:disabled):not(.disabled).active:focus,
.bootstrap-datetimepicker-widget.dropdown-menu .btn-primary:not(:disabled):not(.disabled):active:focus,
.bootstrap-datetimepicker-widget.dropdown-menu .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #04d1c5;
          box-shadow: 0 0 0 0.2rem #04d1c5;
}

.bootstrap-datetimepicker-widget.dropdown-menu .btn-primary:not(:disabled):not(.disabled).active,
.bootstrap-datetimepicker-widget.dropdown-menu .btn-primary:not(:disabled):not(.disabled):active,
.bootstrap-datetimepicker-widget.dropdown-menu .show > .btn-primary.dropdown-toggle {
  background-color: #04d1c5;
  border-color: #04d1c5;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker.col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bootstrap-datetimepicker-widget.dropdown-menu .timepicker.col-md-6 .timepicker-picker {
  padding: 15px 10px;
}

.date-picker-form-group .input-group.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.date-picker-form-group .input-group.date .input-group-addon {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 16px 0 0;
  z-index: 9;
}

.form-group-lock .input-group.date .input-group-addon {
  display: none;
}

@media (max-width: 767px) {
  .form-custom-div .form-group.date-picker-form-group .custom-form-control.form-control {
    font-size: 16px;
    padding: 8px 50px 7px 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .form-custom-div .form-group.date-picker-form-group .custom-form-control.form-control {
    font-size: 16px;
    padding: 8px 50px 7px 30px;
  }
  .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
    zoom: 90%;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=custom-datetimepicker-b4.css.map */