.general-content-section {
  padding: 80px 0 50px 0;
  margin: 0;
  position: relative;
}

.general-content-section .general-content-div {
  padding: 0;
  margin: 0;
}

.general-content-section .heading-div {
  padding: 0;
  margin: 0 0 60px 0;
  position: relative;
}

.general-content-section .heading-div h3 {
  padding: 0;
  margin: 0 0 20px 0;
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  letter-spacing: -0.9px;
}

.content-card-root {
  padding: 40px 50px;
  background-color: #1e1e1e;
  border-radius: 16px;
  position: relative;
}

.content-card-root .custom-list-box-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.content-card-root .custom-list-box-div .listing-box {
  padding: 20px 0 15px 0;
  margin: 0;
  position: relative;
  border-bottom: 1px dashed #48d1c5;
}

.content-card-root .custom-list-box-div .listing-box:last-child {
  border-bottom: 0 dashed #48d1c5;
}

.content-card-root .custom-list-box-div .listing-box .listing-header {
  padding: 0;
  margin: 0;
}

.content-card-root .custom-list-box-div .listing-box .listing-header h3 {
  padding: 0 0 0 22px;
  margin: 0 0 10px 0;
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  color: #fff;
  letter-spacing: -0.7px;
  position: relative;
}

.content-card-root .custom-list-box-div .listing-box .listing-header h3::before {
  content: "";
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: #48d1c5;
  border-radius: 100px;
  position: absolute;
  left: 0;
  top: 11px;
}

.content-card-root .custom-list-box-div .listing-box .listing-body {
  padding: 0;
  margin: 0;
}

.content-card-root .custom-list-box-div .listing-box .listing-body p {
  font-weight: 400;
  font-size: 18px;
  color: #a8a8a8;
  letter-spacing: 0.09px;
  line-height: 1.4;
  margin: 0 auto 10px auto;
  padding: 0 0 0 20px;
  display: block;
}

.content-card-root .text-content-box-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.content-card-root .text-content-box-div p {
  padding: 0;
  margin: 0 auto 20px auto;
  font-weight: 400;
  font-size: 18px;
  color: #a8a8a8;
  letter-spacing: 0.09px;
  line-height: 26px;
  display: block;
}

@media (max-width: 767px) {
  .general-content-section {
    padding: 40px 0 40px 0;
  }
  .general-content-section .heading-div {
    margin: 0 0 50px 0;
  }
  .general-content-section .heading-div h3 {
    font-size: 30px;
  }
  .content-card-root {
    padding: 20px 20px;
    border-radius: 12px;
  }
  .content-card-root .custom-list-box-div .listing-box .listing-header h3 {
    padding: 0 0 0 20px;
    margin: 0 0 8px 0;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.2px;
  }
  .content-card-root .custom-list-box-div .listing-box .listing-header h3::before {
    height: 8px;
    width: 8px;
    top: 8px;
  }
  .content-card-root .custom-list-box-div .listing-box .listing-body p {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 auto 5px auto;
    padding: 0 0 0 20px;
  }
  .content-card-root .text-content-box-div p {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .general-content-section {
    padding: 40px 0 40px 0;
  }
  .general-content-section .heading-div {
    margin: 0 0 50px 0;
  }
  .general-content-section .heading-div h3 {
    font-size: 30px;
  }
  .content-card-root {
    padding: 20px 20px;
    border-radius: 12px;
  }
  .content-card-root .custom-list-box-div .listing-box .listing-header h3 {
    padding: 0 0 0 20px;
    margin: 0 0 8px 0;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.2px;
  }
  .content-card-root .custom-list-box-div .listing-box .listing-header h3::before {
    height: 8px;
    width: 8px;
    top: 11px;
  }
  .content-card-root .custom-list-box-div .listing-box .listing-body p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto 5px auto;
    padding: 0 0 0 20px;
  }
  .content-card-root .text-content-box-div p {
    font-size: 16px;
    line-height: 22px;
  }
}
/*# sourceMappingURL=general-style.css.map */