.tf-root-div {
  padding: 0;
  margin: 0;
  position: relative;
  min-height: calc(100vh - 90px);

  .tf-root-row {
    padding: 0;
    margin: 0;
    position: relative;
    min-height: inherit;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .left-side-div {
      position: relative;
      width: 100%;
      flex: 0 0 370px;
      max-width: 370px;
      min-height: inherit;
      background-color: #101010;

      .left-side-inner {
        padding: 65px 0 35px 0;
        position: sticky;
        top: 45px;
        transition: all 0.8s;
      }
    }

    .right-side-div {
      position: relative;
      width: 100%;
      flex: 0 0 calc(100% - 370px);
      max-width: calc(100% - 370px);
      min-height: inherit;
      background-color: #0e0e0e;
    }
  }
}

.tf-vertical-tabs-header {
  padding: 0;
  margin: 0;
  position: relative;

  .vertical-nav-tabs {
    flex-direction: column;
    width: 100%;

    .nav-item {
      position: relative;
    }

    .nav-link {
      padding: 10px 30px 10px 36px;
      min-height: 60px;
      display: flex;
      align-items: center;
      position: relative;
      font-weight: 500;
      font-size: 20px;
      color: #838383;
      letter-spacing: -0.4px;
      transition: all 0.8;

      .bg-custom-icon {
        transition: all 0.8;
      }

      &::before {
        content: "";
        height: 100%;
        width: 6px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: transparent;
        transition: all 0.8;
      }

      &:hover {
        color: #fff;

        &::before {
          background-color: #00dbd2;
        }

        .home-active-icon {
          background-image: url("../images/icons/custom/home-active-icon.png");
        }

        .billing-active-icon {
          background-image: url("../images/icons/custom/billing-tab-active-icon.png");
        }

        .credit-tab-active-icon {
          background-image: url("../images/icons/custom/credit--tab-active-icon.png");
        }
      }

      &.active,
      &.show {
        color: #fff;
        font-weight: 700;

        &::before {
          background-color: #00dbd2;
        }
      }

      .center-txt {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;

        .icon-center {
          display: flex;
          flex-wrap: wrap;
          width: 34px;
          justify-content: center;
          margin: 0 20px 0 0;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .tf-root-div {
    min-height: auto;

    .tf-root-row {
      min-height: auto;

      .left-side-div {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        min-height: auto;

        .left-side-inner {
          padding: 30px 0 25px 0;
        }
      }

      .right-side-div {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        min-height: auto;
      }
    }
  }

  .tf-vertical-tabs-header {
    .vertical-nav-tabs {
      .nav-link {
        padding: 8px 20px 8px 24px;
        min-height: 44px;
        font-size: 16px;

        &::before {
          width: 4px;
        }

        .bg-custom-icon {
          width: 20px;
          height: 20px;
        }

        .center-txt {
          .icon-center {
            width: 30px;
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .tf-root-div {
    min-height: auto;

    .tf-root-row {
      min-height: auto;
      
      .left-side-div {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        min-height: auto;
        
        .left-side-inner {
          padding: 30px 0 25px 0;
        }
      }

      .right-side-div {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        min-height: auto;
      }
    }
  }

  .tf-vertical-tabs-header {
    .vertical-nav-tabs {
      .nav-link {
        padding: 8px 20px 8px 24px;
        min-height: 44px;
        font-size: 16px;

        &::before {
          width: 4px;
        }

        .bg-custom-icon {
          width: 20px;
          height: 20px;
        }

        .center-txt {
          .icon-center {
            width: 30px;
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}
